<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwh-5pgUDdr3G1DuD-h-BP0QO5ki4PjpM</string>
	<key>GCM_SENDER_ID</key>
	<string>935560339177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medg</string>
	<key>PROJECT_ID</key>
	<string>med-g-8fd5f</string>
	<key>STORAGE_BUCKET</key>
	<string>med-g-8fd5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935560339177:ios:1ff705f43f29c79c4fda78</string>
</dict>
</plist>